

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main main'
      'menu main main main main main';
    gap: 10px;
    background-color: #9f9ae4;
    padding: 10px;
  }


.flex-container {
  display: flex;
  flex-direction: column;
}

